body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    background-image: url("images/falling-money.webp");
  }
  
  h1 {
    text-align: center;
    font-size: 36px;
  }

  h2 {
    text-align: center;
    font-style: italic;
  }
  
  p {
    margin-bottom: 20px;
  }

  .button-container {
    /* Add some basic styling */
    display: inline-block;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    width: 90%;
    display: flex;
    align-items: center; /* Aligns items vertically */
  }
  
  button {
    /* Style the button */
    background-color: #527744;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .buttonprompt {
    /* Style the text */
    font-size: 16px;
    font-weight: bold;
    margin-left: 10px;
  }

  .centered-div {
    background-color: #ccc;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    height: 70%;
}
.bottomerdiv {
    background-color: #ccc;
    border-radius: 25px;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    height: 50%;
}