<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank Account Dashboard</title>
    <link rel="stylesheet" href="/static/userdashboard.css">
</head>
<body>
    <!-- Flash Messages -->
    <div class="flash-messages">
        {% for flash in flashes %}
            <p class="flash flash-{{flash | getFlashType}}">{{flash | getFlashMessage}}</p>
        {% endfor %}
    </div>
    <h1>Welcome, {{fname}}</h1>

    <!-- Navigation Bar -->
    <div class="nav-bar">
        <a href="/user-dashboard">Dashboard</a>
        <a href="/transfer">Transfer</a>
        <a href="#">Statements</a>
        <a href="/transaction-history">Transactions</a>
        <a href="/notifications">Notifications</a>
        <a href="/settings">Settings</a>
    </div>

    <div class="accounts-container">
        {% for account in acclist %}
            {% if account.AccountStatus != 'CLOSED' %}
                <div class="account-card">
                    <h3>{{ account.AccountType | capitalize }} Account</h3>
                    <p>Account Number: {{ account.AccountNum }}</p>
                    <p>Balance: ${{ account.Balance | formatBalance }}</p>
                    <p>{{ account.AccountStatus }}</p>
                    <div class="button-container">
                        <button class="button">View Account</button>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

</body>
</html>
