<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bank Account Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/userdashboard.css">
    <script src="https://kit.fontawesome.com/94aa5c9716.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <!-- Flash Messages -->
    <div class="flash-messages">
        {% for flash in flashes %}
            <p class="flash flash-{{flash | getFlashType}}">{{flash | getFlashMessage}}</p>
        {% endfor %}
    </div>

    <!-- Header Section -->
    <header>
        <div class="top-header">
            <div class="header-left">
                <a href="#home" class="icon-link">
                    <span class="material-icons icon-large">home</span>
                </a>
            </div>
            <div class="header-middle">
                <h2 class="brand-name">Bank Name</h2>
            </div>
            <div class="header-right">
                <nav>
                    <ul class="header-nav">
                        <li><a href="#profile" class="icon-link"><span class="material-icons icon-large">person</span></a></li>
                        <li><a href="/logout" title="Sign out" class="icon-link"><span class="material-icons icon-large">logout</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="header-bottom">
            <h1 class="welcome-message">Hello, {{ fname }}!</h1>
        </div>
    </header>

    <!-- Navigation Bar -->
    <div class="nav-bar">
        <a href="/transfer"><span class="material-icons">keyboard_double_arrow_right</span>Transfer</a>
        <a href="#"><span class="material-icons">request_page</span>Statements</a>
        <a href="/transaction-history"><span class="material-icons">receipt_long</span>Transactions</a>
        <a href="#"><span class="material-icons">notifications</span>Notifications</a>
        <a href="#"><span class="material-icons">settings</span>Settings</a>
    </div>

    <div class="accounts-container">
        {% for account in acclist %}
            {% if account.AccountStatus != 'CLOSED' %}
                <div class="account-card">
                    <h3>{{ account.AccountType | capitalize }} Account</h3>
                    <p>Account Number: {{ account.AccountNum }}</p>
                    <p>Balance: ${{ account.Balance | formatBalance }}</p>
                    <p>Status: {{ account.AccountStatus }}</p>
                    <div class="button-container">
                        <button class="button">View Account</button>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

</body>
</html>
