<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header and Columns Example</title>
    <link rel="stylesheet" href="/static/style2.css">
    <script src="https://kit.fontawesome.com/94aa5c9716.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <header>
        <div class="top_header">
            <div class="leftheader">
                <a href="#home"><span class="material-icons" style="font-size: 35px;">home</span></a>
            </div>
            <div class="middleheader">
                <h2 class="black_text heading_medium">Bank name</h2>
            </div>
            <div class="rightheader">
                <nav>
                    <ul>
                        <li><a href="#profile"><span class="material-icons" style="font-size: 35px;">person</span></a></li>
                        <li><a href="#settings"><span class="material-icons" style="font-size: 35px;">settings</span></a></li>
                        <li><a href="/logout" title="Sign out"><span class="material-icons" style="font-size: 35px;">logout</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="bottom_header">
            <h1>Hello, {{ fname }}!</h1>
        </div>
    </header>
    <div class="margined_container">
        <div class="no_margin">   
            <div class="small_row">
                <div class="small_box">
                    <h1 class="black_text heading_medium">Users</h1>
                </div>
                <div class="box">
                    <button>+New user</button>
                </div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
            </div>
            <div class="small_row">
                <div class="box">
                    <div class="center">
                        <form>
                            <label for="email">Search for account by email</label>
                            <input type="email" id="email" name="email" required>
                        </form>
                    </div>
                </div>
            </div>
            <div class="small_row"></div>
        </div>
    </div>
</body>
</html>
