<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Monopoly-Technic</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style2.css">
    <script src="https://kit.fontawesome.com/94aa5c9716.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <!-- Flash Messages -->
    <div class="flash-messages">
        {% for flash in flashes %}
            {% set flashClass = flash | getFlashType %}
            {% if flashClass == 'success' %}
                <p class="flash flash-{{flash | getFlashType}}">{{flash | getFlashMessage}}</p>
            {% endif %}
        {% endfor %}
    </div>

    <!-- Header Section -->
    <header>
        <div class="top-header">
            <div class="header-left">
                <a href="#home" class="icon-link">
                    <span class="material-icons icon-large">home</span>
                </a>
            </div>
            <div class="header-middle">
                <h2 class="brand-name">Bank Name</h2>
            </div>
            <div class="header-right">
                <nav>
                    <ul class="header-nav">
                        <li><a href="#profile" class="icon-link"><span class="material-icons icon-large">person</span></a></li>
                        <li><a href="#settings" class="icon-link"><span class="material-icons icon-large">settings</span></a></li>
                        <li><a href="/logout" title="Sign out" class="icon-link"><span class="material-icons icon-large">logout</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="header-bottom">
            <h1 class="welcome-message">Hello, {{ fname }}!</h1>
        </div>
    </header>

    <!-- Main Content -->
    <main class="content-container">
        <section class="user-section">
            <div class="section-header">
                <h1 class="section-title">Users</h1>
            </div>
            <div class="section-actions">
                <form action="/add-user" method="GET">
                    <button type="submit" class="btn btn-primary">+ New User</button>
                </form>
                <form action="/open-account" method="GET">
                    <button type="submit" class="btn btn-secondary">Open Account</button>
                </form>
                <form action="/make-transaction" method="GET">
                    <button type="submit" class="btn btn-primary">Deposit/Withdraw</button>
                </form>
                <form action="/change-status" method="GET">
                    <button type="submit" class="btn btn-primary">Change Account Status</button>
                </form>
            </div>
        </section>

        <section class="search-section">
            <div class = "search-with-dropdown">
                <div class="search-box">
                    <form onsubmit="submitSearchForm(this); return false" method="GET" class="search-form" id = "search-form1">
                        <label for="email" class="search-label">Search for account by email</label>
                        <input type="email" id="email" name="email" class="input-field" required>
                    </form>
                </div>
                <ul id="emailSearchList" style="display: none;" class = "search-results-preview"></ul>
            </div>
            <div class="flash-messages" , id = "error-flash-messages">
                {% for flash in flashes %}
                    {% set flashClass = flash | getFlashType %}
                    {% if flashClass == 'error' %}
                        <p class="flash flash-{{flash | getFlashType}}">{{flash | getFlashMessage}}</p>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="search-results">
                <table>
                    <thead>
                        <th>Account Number</th>
                        <th>Primary Holder ID</th>
                        <th>Secondary Holder ID</th>
                        <th>Type</th>
                        <th>Account Status</th>
                        <th>Balance</th>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </section>
    </main>
    <script>
        
    
        async function submitSearchForm(form) {
            const email = new FormData(form, null).get('email');
            console.log("email is ", email);
            const data = await fetch(`/list-accounts?email=${email}`).then(res => res.status === 200 ? res.json() : null).catch(console.error);
            if (data) {
                document.getElementById('error-flash-messages').innerHTML = '';
                const tbody = form.parentElement.parentElement.parentElement.querySelector(".search-results > table tbody");
                tbody.innerHTML = '';
                for (const item of data) {
                    const row = tbody.insertRow(-1);
                    console.log(item);
                    row.insertCell(0).innerText = item.accountNum;
                    row.insertCell(1).innerText = item.primaryCustomerId;
                    row.insertCell(2).innerText = item.secondaryCustomerId;
                    row.insertCell(3).innerText = item.accountType;
                    row.insertCell(4).innerText = item.accountStatus;
                    row.insertCell(5).innerText = item.balance.toFixed(2);
                }
            }
            else{
                console.log("in else statement")
                window.location.replace("/employee-dashboard")
            }
            form.querySelector('input[name="email"]').value = '';
        }
    </script>
    <script src = /scripts/account_search.js></script>
</body>
</html>
