<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/static/formstyle.css"> <!-- Link to CSS -->
    <title>Add New User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="centertextleft">
        <h1 class="h1smaller">Freeze Account</h1>
        <p>Enter the required details below:</p>
        {% for flash in flashes %}
            <p class="flash flash-{{flash | getFlashType}}">{{flash | getFlashMessage}}</p>
        {% endfor %}
    </div>

    <form action="/freeze-account" method="POST">
        <!-- Admin First Name -->
        <label for="accnum">Account Number</label>
        <input type="text" id="accnum" name="accnum" required placeholder="Enter account number">

        <!-- Submit Button -->
        <div class="smallerbuttoncenter">
            <input type="submit" value="Add User">
        </div>
    </form>
</body>
</html>