<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {{ global_styles|safe }}
    <link rel="stylesheet" href="/static/formstyle.css"> <!-- Link to CSS -->
    <title>{{ bankname }} - Freeze Account</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="centertextleft">
        <h1 class="h1smaller">Change Account Status</h1>
        <p>Enter the required details below:</p>
        {% for flash in flashes %}
            <p class="flash flash-{{flash | getFlashType}}">{{flash | getFlashMessage}}</p>
        {% endfor %}
    </div>

    <form action="/change-status" method="POST">
        <!-- Admin First Name -->
        <label for="accnum">Account Number</label>
        <input type="text" id="accnum" name="accnum" required placeholder="Enter account number" maxlength="16">

        <!-- Target Status Dropdown -->
        <label for="targetstatus">Target Status</label>
        <select id="targetstatus" name="targetstatus" required>
            <option value="OPEN">OPEN</option>
            <option value="CLOSED">CLOSED</option>
            <option value="FROZEN">FROZEN</option>
        </select>

        <!-- Submit Button -->
        <div class="smallerbuttoncenter">
            <input type="submit" value="Change Status">
        </div>
    </form>
    <a href="/employee-dashboard">
        <button class="cancel-button">
            Cancel
        </button>
    </a>
</body>
</html>