<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {{ global_styles|safe }}
    <link rel="stylesheet" href="/static/style.css"> <!-- Link to CSS -->
    <title>Monopoly-Technic</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="centertextleft">
        <h1>Welcome!</h1>
        <p>Enter your login details.</p>
        {% for flash in flashes %}
            <p class="flash flash-{{flash | getFlashType}}">{{flash | getFlashMessage}}</p>
        {% endfor %}
    </div>
    <form action="/callback?profile_type=customer" method="POST">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
        <a>
            <div class="buttoncenter">
                <input type="submit" value="Sign in">
                <p><b><a href="/forgot-password">Forgot Password</a></b></p>
                <p><b><a href="/forgot-email">Forgot Email</a></b></p>
            </div>
        </a>
    </form>
</body>
</html>