<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank Account Dashboard</title>
    {{ global_styles|safe }}
    <link rel="stylesheet" href="/static/userdashboard.css">
</head>

<body>
    <!-- Flash Messages -->
    <div class="flash-messages">
        {% for flash in flashes %}
            <p class="flash flash-{{flash | getFlashType}}">{{flash | getFlashMessage}}</p>
        {% endfor %}
    </div>
    <h1>Welcome, {{fname}}</h1>

    <!-- Navigation Bar -->
    <div class="nav-bar">
        <a href="/user-dashboard">Dashboard</a>
        <a href="/transfer">Transfer</a>
        <a href="/transaction-history">Transactions</a>
        <a href="/notifications">Notifications</a>
        <a href="#">Settings</a>
    </div>

    <div class="notifications">
        {% for notification in notifications %}
            <div class="notification">
                <h2>{{ notification.Title }}</h2>
                <p>{{ notification.Content }}</p>
            </div>
        {% endfor %}
    </div>
</body>
</html>