<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../static/style.css"> <!-- Link to CSS -->
    <title>Monopoly-Technic</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="centertextleft">
        <h1 class="h1smaller">Great!</h1>
        <p>We've emailed you a link to confirm it's really you. Once you're done, click below:</p>
    </div>    
    <div class="buttoncenter">
        <form action="/login-user" method="POST">
            <button class="biggerbutton"><b>Return to Login</b></button>
        </form>
    </div>
</body>
</html>