<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- Flash Messages -->
<div class="flash-messages">
  {% for flash in flashes %}
      <p class="flash flash-{{flash | getFlashType}}">{{flash | getFlashMessage}}</p>
  {% endfor %}
</div>

<!-- Header Section -->
<header>
    <div class="top-header">
        <div class="header-left">
            <a href="/user-dashboard" class="icon-link">
                <span class="material-icons icon-large">home</span>
            </a>
        </div>
        <div class="header-middle">
            <h2 class="brand-name">{{ bankname }}</h2>
        </div>
        <div class="header-right">
            <nav>
                <ul class="header-nav">
                    <li><a href="/logout" title="Sign out" class="icon-link"><span class="material-icons icon-large">logout</span></a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="header-bottom">
        <h1 class="welcome-message">Hello, {{ fname }}!</h1>
    </div>
</header>

<!-- Navigation Bar -->
<div class="nav-bar">
    <a href="/user-dashboard">Dashboard</a>
    <a href="/transfer"><span class="material-icons">keyboard_double_arrow_right</span>Transfer</a>
    <a href="/transaction-history"><span class="material-icons">receipt_long</span>Transactions</a>
    <a href="/notifications"><span class="material-icons">notifications</span>Notifications</a>
    <a href="/settings"><span class="material-icons">settings</span>Settings</a>
</div>

<script src="https://kit.fontawesome.com/94aa5c9716.js" crossorigin="anonymous"></script>
